body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f7f6;
  text-align: center; /* 全ての要素を中央揃えに */
}

header {
  background-color: #8be88b; /* 薄いライムグリーン */
  color: white;
  padding: 20px 0;
  width: 100%;
  box-sizing: border-box;
}

input[type="file"], #startOcr {
  border: 2px solid #007bff;
  padding: 10px 20px;
  margin-top: 30px;
  cursor: pointer;
  font-weight: bold;
  color: #007bff;
  background-color: #fff;
  border-radius: 5px;
  display: inline-block;
}

#text {
  margin-top: 20px;
  padding: 20px;
  width: calc(100% - 40px);
  max-width: 600px;
  border: 1px solid #ddd;
  height: 150px;
  overflow-y: auto;
  background-color: #fff;
  margin: 20px auto; /* 中央揃え */
}

@media (max-width: 768px) {
  input[type="file"], #startOcr, #text {
      width: 75%; /* モバイル対応のための幅調整 */
  }
}
